:root {
  --font-color-white: #fff;
  --font-color-black: #000;
  --background-nav: #263843;
  --background-nav-ligth: #a19d9d;
  --background-color-light: #fffafa;
  --background-media-hover: #ff6a6a;
  --color-red: #ff0000;
  --font-sm: 12px;
  --font-md: 13px;
  --font-regular: 18px;
}

.card-perfil {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  border: 1px solid #0005;
}

/* logo */

.logo-del-proyecto {
  border-radius: 100%;
  mix-blend-mode: hard-light;
  width: 10rem;
}

/* items-vista-de-detalles-del-producto */

.container-item-productos {
  background-color: #fff898;
  display: flex;
  justify-content: space-between;
}

.img-ver-productos {
  width: 6rem;
  height: 6rem;
  padding: 4px;
}

.card-detalle-producto {
  font-size: 20px;
  max-height: 50vh;
  background-color: #fff898;
}

/* carrusel style */
.carousel-item img {
  height: 700px;
  max-height: 90vh;
  object-fit: cover;
  border-bottom: 20px solid #3a54ca;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* mix-blend-mode: color-dodge; */
}

#container-slider{
  padding: 0;
  max-width: none;
}

/* formulario-de-preguntas */

.custom-form {
  background-color: #f8b400;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  transition: all 200ms ease;
}

.custom-form:hover {
  border: 5px solid #ff9100;
  border-radius: 50px 0 50px 0;
}

.custom-label {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border-bottom: 2px solid #000;
  width: 20%;
}

.custom-input {
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

.custom-button {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  color: #f2f2f2;
  background-color: #218838;
}


/* preguntas y respuestas */

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.question {
  font-size: 1.2rem;
  margin-top: 0;
}

.answer {
  margin: 10px 0;
}

.footer {
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* section plans and more products */
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--font-color-black);
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--font-color-black);
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 312px;
  margin: 50px 15px auto;
  padding: 0 15px;
  background-color: var(--color-red);
  box-shadow: 0 4px 8px var(--font-color-black);
  border-radius: 15px;
  color: var(--background-color-light);
}

.recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  left: calc(50% - 60px);
  top: -50px;
  background-color: var(--background-media-hover);
  font-size: 1rem;
  border-radius: 8px;
  color: var(--background-color-light);
  font-variant: small-caps;
  padding: 5px;
}

.plan-card--title {
  padding-top: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--background-color-light);
}

.plan-card--price {
  padding: 5px;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1;
  color: var(--background-color-light);
  margin: 0 !important;
}

.plan-card-saving {
  margin-top: 0 !important;
  font-size: 1.1rem;
  color:#e9dcdc;
  font-weight: bolder;
}

.plan-card--price span {
  font-size: 1.2rem;
  font-weight: 400;
  vertical-align: top;
}

.plan-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #fff;
  color: #000;
  border: 2px solid var(--background-nav);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  font-family: monospace;
}

.plan-card--ca span {
  display: inline-block;
  vertical-align: middle;
  color: #ff0000;
}

.plans-container--slider {
  display: flex;
  gap: 50px;
  height: 400px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  background-color: #ffffff; /* Color de fondo de la barra de desplazamiento */
}

.plans-container--slider::-webkit-scrollbar-thumb {
  background-color: #ff5858; /* Color del "pulggar" de la barra de desplazamiento */
  border-radius: 50px; /* Radio de borde del pulgar */
}

.plans-container--slider::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000; /* Color del pulgar en estado de hover */
}

.plans-container--slider::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Color de la pista de la barra de desplazamiento */
  border-radius: 50px; /* Radio de borde de la pista */
}

.plans-container--slider::-webkit-scrollbar-track:hover {
  background-color: #ddd; /* Color de la pista en estado de hover */
}